.navst {
    margin-bottom: 0px !important;
    border-radius: 0px !important;
  }
  #banner-image {
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url("images/intro-bg_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #banner_content {
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin: 12% auto;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
  }
  .panel-margin {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .text-centre {
    text-align: center;
  }
  